.env
.env.local
node_modules/
dist/
build/
.DS_Store
*.log
.vscode/*
!.vscode/extensions.json
.idea/
*.swp
*.swo
prisma/dev.db

# ignore compiled JavaScript in app folder, we ship TypeScript instead
app/**/*.js
app/**/*.js.map
